通过词频（模长）来对训练集做划分，完成一个训练集合的创建函数

In [1]:
from datasets import load_dataset

In [3]:
dataset = load_dataset('csv', data_files='./wordnet_bert_common_words.csv')

Using custom data configuration default-61bcd1b6d4c45256
Reusing dataset csv (/diskb/houbowei/.cache/huggingface/datasets/csv/default-61bcd1b6d4c45256/0.0.0/6b9057d9e23d9d8a2f05b985917a0da84d70c5dae3d22ddd8a3f22fb01c69d9e)

  0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
dataset

DatasetDict({
    train: Dataset({
        features: ['norms', 'words', 'definition', 'embeddings_ids', 'word_ids'],
        num_rows: 14510
    })
})

In [28]:
dataset.filter(lambda x: x['norms'] < 1.233141)['train'][0]

Loading cached processed dataset at /diskb/houbowei/.cache/huggingface/datasets/csv/default-61bcd1b6d4c45256/0.0.0/6b9057d9e23d9d8a2f05b985917a0da84d70c5dae3d22ddd8a3f22fb01c69d9e/cache-0a0c69edad86e429.arrow

      norms     words  ... embeddings_ids  word_ids
0  0.982207  southern  ...           2670      2670

[1 rows x 5 columns]

In [27]:
dataset.filter(lambda x: 1.233141 < x['norms'] < 1.355623)['train'][0]

Loading cached processed dataset at /diskb/houbowei/.cache/huggingface/datasets/csv/default-61bcd1b6d4c45256/0.0.0/6b9057d9e23d9d8a2f05b985917a0da84d70c5dae3d22ddd8a3f22fb01c69d9e/cache-aeb6ee46b5f0b34f.arrow

      norms    words  ... embeddings_ids  word_ids
0  1.264341  snarled  ...          15022     15022

[1 rows x 5 columns]

In [29]:
dataset.filter(lambda x: 1.355623 < x['norms'] < 1.452249)['train'][0]

  0%|          | 0/15 [00:00<?, ?ba/s]

      norms   words  ... embeddings_ids  word_ids
0  1.404881  yearly  ...          12142     12142

[1 rows x 5 columns]

In [30]:
dataset.filter(lambda x: 1.452249 < x['norms'] < 1.9)['train'][0]

  0%|          | 0/15 [00:00<?, ?ba/s]

      norms      words  ... embeddings_ids  word_ids
0  1.504637  exploited  ...          18516     18516

[1 rows x 5 columns]

In [13]:
dataset.set_format('pandas')

In [32]:
df = dataset['train'].to_pandas()

In [34]:
df[df.words == 'owl']

         norms words  ... embeddings_ids  word_ids
9687  1.372753   owl  ...          13547     13547

[1 rows x 5 columns]

In [35]:
df[df.words == 'glimpse']

         norms    words    definition  embeddings_ids  word_ids
1813  1.338829  glimpse  a quick look           12185     12185

In [36]:
df[df.words == 'butte']

        norms  words  ... embeddings_ids  word_ids
6421  1.57196  butte  ...          25024     25024

[1 rows x 5 columns]

In [37]:
df[df.words == 'gland']

          norms  words  ... embeddings_ids  word_ids
14413  1.518035  gland  ...          25320     25320

[1 rows x 5 columns]

In [38]:
df[df.words == 'Joachim']

Empty DataFrame
Columns: [norms, words, definition, embeddings_ids, word_ids]
Index: []

In [42]:
dataset.filter(lambda x: 1.3 < x['norms'] < 1.6)

  0%|          | 0/15 [00:00<?, ?ba/s]

DatasetDict({
    train: Dataset({
        features: ['norms', 'words', 'definition', 'embeddings_ids', 'word_ids'],
        num_rows: 8747
    })
})